* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 16px / 1.5 Helvetica, sans-serif;
}


h1, h2, h3 {
    font: 28px / 1.2 Georgia, serif;
    margin-bottom: 0.5em;
}

body {
    margin: 5em auto;
}

section {
    padding: 1em;
    margin: 0 5em;
    display: flex;
    gap: 2em;
    align-items:flex-start;
    flex-wrap: wrap;
}

article {
    flex: 1 1 25%;
    padding: 1em;
}
