  @import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');
  @import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css');

  html {
      font: 18px / 1.5 'Open Sans', sans-serif;
  }

  @media (width <=1800px) {
      html {
          font-size: 16px;
      }
  }

  @media (width <=1600px) {
      html {
          font-size: 14px;
      }
  }

  @media (width <=1400px) {
      html {
          font-size: 12px;
      }
  }
 
  h1 { font-size: 2.4em; }
  h2 { font-size: 2em; }
  h3 { font-size: 1.8em; }
  h4 { font-size: 1.6em; }
  h5 { font-size: 1.4em; }
  h6 { font-size: 1.2em; }


  .subtitle { font-size: 1.3em; font-weight: bold; }