@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

html {
    font-family: Raleway, sans-serif;
    font-size: 16px;
    line-height: 1.5;
}

body {
    width: 1280px;
    margin: 0 auto;
    padding: 8em;
    border: 1px solid gray;
}

header {
    padding-bottom: 1em;
}

h1,
h2 {
    font-family: Great Vibes, cursive;
    line-height: 1.2;
    font-weight: bold;
}

h1 {
    font-size: 36px;
}

h2 {
    font-size: 32px;
}

ul {
    list-style-type: disc;
}

ul ul {
    list-style-type: circle;
}

ul ul ul {
    list-style-type: disc;
}