* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font: 12px / 1.5 Helvetica, sans-serif;
}

@media (min-width: 500px) {html {font-size: 14px;}}
@media (min-width: 600px) {html {font-size: 16px;}}
@media (min-width: 800px) {html {font-size: 18px;}}
@media (min-width: 1300px) {html {font-size: 21px;}}
@media (min-width: 1800px) {html {font-size: 23px;}}

body {
    background-color: #eee;
    padding: 2em;
    min-height: 100vh;
}

h1, h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
    line-height: 1.2em;
}




.card {
    background-color: #fff;
    border-radius: 0.35em;
    max-width: 25em;
    overflow: hidden;
    box-shadow: 0 0 1.5em 0.5em rgba(0, 0, 0, 0.35);
}

.content {
    padding: 1em;
}

.content h2,
p {
    margin-bottom: 0.5em;
}

.content .details {
    margin-top: 1em;
    display: flex;
}

.content a {
    margin-left: auto;
    text-decoration: none;
    background-color: rgb(0, 153, 0);
    color: white;
    padding: 0.5em 1em;
    border-radius: 0.25em;
}

.image {
    aspect-ratio: 16/9;
    position: relative;
    overflow: hidden;
}

.image img {
    width: 100%;
    height: auto;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
}