html {
    font: 14px / 1.5 Helvetica, sans-serif;
    box-sizing: border-box;
}

*,
*::before,
*::after {
    box-sizing: inherit;
}

.container {
    display: flex;
    width: 65em;
    border: 3px solid;
    border-radius: 1em;
    background-color: #1881b6;
    margin: 2em auto;
    padding: 2em;
    flex-wrap: wrap;

}


.content {
    flex: 1 1;
    padding: 0em 1em;
}

.content h2 {
    color: white;
    font-size: 2.4em;
    text-align: center;
    font-weight: normal;
}

.content h3 {
    text-transform: uppercase;
}

.content p {
    text-indent: 2em;

}

.image {
    flex: 0.6 0.5;
    overflow: hidden;
}

.image img {
    display: block;
    max-width: 100%;
}

.buttons {
    display: flex;
    justify-content: space-around;
}

.buttons a {
    display: block;
    color: inherit;
    text-decoration: none;
    border: 1px solid #000; 
    border-radius: 0.3em;
    font-weight: bold;
    padding: 0.25em 0.75em;
}

.buttons .active {
    color: #fff;
    background-color: #b6416d;
}