/* DEFINE BOX-SIZING RULES */
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

/* REMOVE MARGINS AND PADDINGS */
* {
    margin: 0;
    padding: 0
}
/* REMOVE UNORDERED LISTS STYLING */
ul {
    list-style: none;
}

/* REMOVE ANCHORS DECORATION */
a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}

/* FIX PICS WIDTH TO ITS CONTAINER SIZE */
img,
picture {
    max-width: 100%;
    height: auto;
}

table,
input,
textarea {
    font: inherit;
}