body {
    margin: 0px;
    padding: 0px;
    background-color: #cccccc;
}

main {
    padding: 5px 15px;
}

footer,
ul {
    background-color: #444;
    text-align: center;
    padding: 0px;
    margin: 0px;
}

ul {
    list-style: none;
}

footer,
nav a {
    text-decoration: none;
    color: #ffffff;
}

h1 {
    font-size: 28px;
}

p {
    font-size: 24px;
}

header p {
    font-style: italic;
    font-size: 16px;
}

footer p {
    font-size: 16px;
    font-weight: bold;
}

.nav-menu {
    display: inline-block;
    font-size: 24px;
    line-height: 40px;
    height: 40px;
    padding: 20px;
}

.site-footer {
    line-height: 40px;
    height: 40px;
}