@import url('https://fonts.googleapis.com/css2?family=Righteous&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Orienta&display=swap');

body {
    width: 700px;
    margin: 0 auto;
    background-color: darkred;
    text-align: center;
}

h1, h2 {
    text-transform: uppercase;
}

h1 {
    font-family: 'Righteous', cursive;
    font-size: 45px;
    font-weight: normal;
    line-height: 60px;
    color: #fff;

}

h2 {
    font-size: 30px;
    line-height: 50px;
    color: #DFBF84;
}

p {
    font-family: Orienta, sans-serif;
    font-size: 16px;
    line-height: 24px;
    color: #f6f6f6;
}

