/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://use.fontawesome.com/releases/v5.15.4/css/all.css'); */

html {
    font: 20px / 1.6 Helvetica, sans-serif;
}

@media (width <=1600) { html { font-size: 18px; } }
@media (width <=1400px) { html { font-size: 16px; } }
@media (width <=1200px) { html { font-size: 14px; } }

h1 { font-size: 2.6em; }
h2 { font-size: 2.2em; }
h3 { font-size: 1.8em; }
h4 { font-size: 1.6em; }
h5 { font-size: 1.4em; }
h6 { font-size: 1.2em; }
