@import url(./reset.css);
@import url(./typography.css);

.site-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-color: #85dcff;
}

.main-article {
    max-width: 65em;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 2em;
    gap: 4em;
}

.article-media {
    flex: 0 0 22em;
    -webkit-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);
    box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.75);

}

.btn {
    display: inline-block;
    background-color: #ffffff;
    padding: .75em 1.5em;
    margin-right: .5em;
    border-radius: .2em;
}

.active {
    background-color: #42aa59;
    border: 1px solid #000000
}

.btn:hover {
    background-color: #000000;
    color: #ffffff;
    font-weight: bold;
}

.article-content .title {
    margin-bottom: .75em;
}

.article-content .article-text {
    font-size: .9em;
}

.article-content .article-text:last-of-type {
    margin-bottom: 2em;
}
