@import 'https://use.fontawesome.com/releases/v5.15.4/css/all.css';
@import 'https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&amp;display=swap';


/* RESET CSS */
html {
    font: 18px / 1.5 'Inter', sans-serif;
    box-sizing: border-box;
}

*,
*:before,
*:after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

ul {
    list-style-type: none;
}

a {
    background: transparent;
    text-decoration: none;
    color: inherit;
}

img {
    width: 100%;
    object-fit: cover;
}

/* TYPOGRAPHY CSS */
h1, h2, h3, h4, h5, h6 {
    line-height: 1.2;
    font-weight: 600;
}

h1 { font-size: 5.0em; }
h2 { font-size: 4.2em; }
h3 { font-size: 3.4em; }
h4 { font-size: 2.6em; }
h5 { font-size: 1.8em; }
h6 { font-size: 1.2em; }

/* COLORS */
.pricing-plans {
    background-color: #f3f5fa;
    ;
}

.offers {
    background-color: #ffffff;
}

.downloads,
.mobile-app,
.expand,
.get-started,
.act-btn-active,
.get-price-btn,
.plan-btn {
    background-color: #ade2df;
}

/* BUTTONS  */
.act-btn-active,
.act-btn-passive,
.get-price-btn {
    padding: 1em 1.5em;
    border-radius: .5em;
    margin-right: .5em;
}

.get-price-btn {
    display: block;
}

.download-btn,
.get-started-btn {
    display: block;
    padding: 1em;
    margin: .5em;
    background-color: #000000;
    color: #ffffff;
    border-radius: .5em;
    font-weight: bold;
}

.download-btn span {
    border-radius: .15px;
    margin-right: .5em;
}

.plan-btn {
    padding: .5em 1em;
    border-radius: .5em;
}

*[class*="btn"] {
    text-align: center;
}

/* HELPERS */
.site-container {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapper {
    max-width: 1920px;
    margin: 0 auto;
}

.row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* HEADER CSS */

.site-header {
    padding: 2em;
}

.main-nav {
    align-items: center;
    justify-content: space-around;
}

.links-list li {
    margin-right: 2.5em;
}

/* DOWNLOADS CSS */
.downloads,
.get-started {
    padding: 3em;
    text-align: center;
}

.downloads h2,
.get-started h2 {
    padding: .75em 0;
}

.btns-list {
    width: 100%;
    align-items: center;
    justify-content: center;
    padding: 3em 0 2em 0;
}

/* ABOUT-US */
.about-us {
    padding: 5em 0;
}

.info-container {
    justify-content: center;
}

.info-container::before {
    content: "";
    min-height: 15em;
}

.info-item {
    text-align: center;
    flex: 0 0 27.5%;
}

.info-item h4 {
    padding: .25em 0;
}

.info-item p {
    margin: 0 2em;
    padding-top: 1em;
    font-size: 1.25em;
}

/* MOBILE-APP */
.mobile-app-container {
    align-items: center;
    justify-content: center;
}

.media {
    width: 20em;
    border-left: 1px dashed;
    border-right: 1px dashed;
}

.media img {
    width: 100;
    height: auto;
}

.app-description {
    margin: 0 5em;
    max-width: 55ch;
}

.app-description h4 {
    padding: 1.5em 0;
}

.app-description h6 {
    padding: .5em 0;
}

.explore-link {
    display: block;
    font-size: 1em;
    text-decoration: underline;
    padding: 2em 0 4em 0;
    text-underline-offset: 0.5em;
}

.explore-link::after {
    content: " ->";
}

.pricing-plans {
    padding: 3em 0;
    border-radius: .5em;
}

.pricing-plans>p,
.pricing-plans h4 {
    text-align: center;
    padding: .5em 0;
}

.offers {
    border-radius: .5em;
    margin-top: 3em;
}

.offer-list {
    border-radius: .5em;
}

.offer-item {
    flex: 0 0 22.5%;
}

.expand {
    flex: 1 0 30%
}

.offer-item,
.expand {
    padding: 1em;
}

.offer-item h6,
.expand h6 {
    text-align: center;
}

.offer-item .price {
    font-size: 3em;
}

.offer-item sub {
    font-size: 1em;
}

.offer-item p+p {
    padding-bottom: 2em;
}

.options {
    padding: 2em 0;
}

.offer-item h6+p {
    padding-bottom: 1em;
}

.expand {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.get-price-btn,
.get-started-btn {
    margin: auto .5em .5em .5em;
}

.site-footer {
    justify-content: space-between;
    padding: 2em 4em;
}

.site-footer span {
    display: inline-block;
    margin-right: 1em;
}