html {
  font-family: 'Times New Roman', Times, serif;
}


body {
  background-color: rgb(251, 251, 251);
}

section {
  padding: 1em 2em;
}

button,
a {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-size: 16px;
  background-color: rgb(251, 251, 251);
}

.download {
  fill: red;
  padding: 20px;
  border: 1px solid black;
}

.basic-btn {
  padding: 0.5em 1em;
  border: 2px solid rgb(51, 51, 51);
  border-radius: 1em;
  font-weight: bold;
  color: rgb(51, 51, 51);
  cursor: pointer;
  outline: none;
}

.basic-btn.hover-light:hover {
  background-color: rgb(255, 255, 255);
  border-color: rgb(0, 102, 0);
}

.basic-btn.hover-dark:hover {
  background-color: rgb(0, 102, 0);
  border-color: rgb(0, 102, 0);
}

.basic-btn.fill {
  background-color: rgb(51, 51, 51);
  color: rgb(251, 251, 251);
}

.join-btn {
  /* width: 10em; */
  /* height: 5ex; */
  padding: 0.5em 1em;
  background-color: gold;
  border: 2px solid firebrick;
  border-radius: 1em;
  font-weight: bold;
  color: black;
  cursor: pointer;
}

.join-btn:hover {
  background-color: red;
}
