@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font: 12px / 1.5 'PT Sans', sans-serif;
}

body {
    margin: 0 auto;
    max-width: 85em;
    position: relative;
}


li {
    list-style: none;
    display: block;
}

.site-container::before {
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 2/1;
    /* margin-top: 32.5em; */
    /* background-image: url(images/background.jpg); */
}

.heading {
    font-family: 'PT Serif', serif;
    font-weight: normal;
    line-height: 1.25;
}

.main-title {
    font-size: 2.8em;
    padding-bottom: 0.5em;
}

.caps {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;
    font-size: 80%;

}

.header-background {
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    aspect-ratio: 2/1;
    overflow: hidden;
    z-index: auto;
}

.header-container {
    position: absolute;
    top: 0;
    left: 0;
    color: #fff;
    aspect-ratio: 2/1;
    padding: 1em 2em;
}

.header-background img {
    position: relative;
    top: 0;
    left: 0;
    /* top: 50%; */
    /* transform: translateY(-50%); */
    width: 100%;
}

.description-title,
.site-nav {
    flex: 1 1 45%;
}


.site-logo {
    flex: 0 0 10%;
    padding: 0 1em;
    /* max-width: 20%; */
}

.description-title {
    display: flex;
    align-items: center;
    margin-left: 1em;
    padding-bottom: 5em;
}

.site-nav {
    display: flex;
    justify-content: flex-end;
    margin: 0 1em 0 1em;
}


.header-container,
.main-nav {
    display: flex;
    flex-direction: row;
    padding-top: 1em;
}


.main-nav a {
    text-decoration: none;
    color: inherit;
    margin: 0.5em 1em;
}

.site-logo img {
    width: 100%;
    height: auto;
}

.site-container::before {
    content: "";
    display: block;
    width: 100%;
    aspect-ratio: 2/1;
    /* margin-top: 32.5em; */
    /* background-image: url(images/background.jpg); */
}

.about-us {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 2em;
    border-bottom: 2px solid #cccccc;
}

.about-us {
    padding: 8em;

}

.about-us p,
.sponsors p {
    padding: 2em 0;
}

.aim {
    flex-basis: 40%;
}

.secondary-title {
    font-size: 2.4em;
}

.aim-button {
    display: inline-block;
    text-decoration: none;
    color: #b0825c;
    font-weight: bold;
    border: 1px solid;
    padding: 0.5em 1em;
}

.sponsors {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 4em 10em;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 2em;
    justify-content: center;
    padding: 2em 0 1em 0;
}

.icon-container {
    width: 15%;
    padding: 1em;
    background-color: #dddddd;
    border-radius: 50%;
}

.icon-container img {
    width: 100%;
}

.icons {
    padding-bottom: 2em;
}

.sponsors .secondary-title {
    color: #b0825c;
}

.sponsors:last-child {
    padding-bottom: 2.5em;
}

footer, aside {
    background-color: rgb(23, 23, 32);
    color: rgb(179, 166, 168);
}

footer {
    padding: 3em 5em;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: center;

}

.info ul,
.info h3 {
    margin: 2em;
}

.info li {
    margin-bottom: 1em;
}

.site-footer .heading {
    color: white;
}

.banner {
    border-top: 2px solid rgb(58, 58, 65);
    padding: 1em 12em; 
}