@import url(https://fonts.googleapis.com/css?family=PT+Serif);
@import url(https://fonts.googleapis.com/css?family=PT+Sans:400,700);


html {
    box-sizing: border-box;
    font: 16px / 1.6 'PT Sans', sans-serif;
}

h1 {
    font-size: 3.4em;
}

h2 {
    font-size: 2.8em;
}

h3 {
    font-size: 2.2em;
}

h4 {
    font-size: 1.6em;
}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

li {
    list-style: none;
    display: block;
}


.wrapper {
    max-width: 75em;
    margin: 0 auto;
}

.heading {
    font-family: 'PT Serif', serif;
    font-weight: normal;
    line-height: 1.25;
}

.color-oposite {
    color: #fff;
}

.caps {
    font-family: 'PT Sans', sans-serif;
    text-transform: uppercase;

}

/* NAVIGATION */
.media {
    background-image: url(./images/background.jpg);
    background-size: cover;
}

.site-banner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2em 3em;
}

.header-content {
    padding-bottom: 16em;
}

.description-container {
    max-width: 55%;
    padding-top: 1.5em;
    font-size: 1.2em;
}

.site-logo {
    display: block;
    max-width: 6em;
}

.site-logo img {
    width: 100%;
    height: auto;
}


.site-nav {
    display: flex;
    flex-direction: row;
}

.site-nav a {
    text-decoration: none;
    color: inherit;
    margin: 0 1em;
}

/* ABOUT US */
.about-us {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 3em;
    padding: 7em 0;
}

.about-us p,
.sponsors p {
    padding: 2em 0;
}

.aim-button {
    display: inline-block;
    text-decoration: none;
    color: #b0825c;
    font-weight: bold;
    border: 1px solid;
    padding: 0.5em 1em;
}

/* SPONSORS */
.sponsors::before,
.banner::before {
    display: block;
    content: "";
    border-top: 2px solid;
    width: 100%;
}

.sponsors::before {
    border-color: #cccccc;
}

.banner::before {
    border-color: #3a3a41;
}

.sponsors-content {
    text-align: center;
    padding: 3em 2em 2em 2em;
}

.sponsors h2 {
    color: #b0825c;
}

.sponsors p {
    color: #716567;
}

.icons {
    display: flex;
    flex-direction: row;
    gap: 5em;
    justify-content: center;
    margin: 2em 0;
}

.icon-container {
    display: block;
    background-color: #dddddd;
    width: 9em;
    height: 9em;
    padding: 1.5em;
    border-radius: 50%;
}

.icon-container img {
    display: block;
    height: auto;
    width: 100%;
}

.icons {
    padding-bottom: 2em;
}

/* FOOTER */
.site-footer {
    background-color: #171720;
    color: #b3a6a8;
}

.info {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    padding-top: 2em;
    font-size: 80%;
}

.info-item,
.info-item ul {
    padding: 2em 0;
}

.info-item {
    flex: 1 1 20%;
}

.info li {
    margin-bottom: 1em;
}

.site-footer .heading {
    color: #fff;
}

.banner-content {
    padding: 1em 0;
}